@{
    ViewData["Title"] = "Home Page";
}

<div style="display: block; margin-left: auto; margin-right: auto; width: 50%; padding-top: 50px;">
    <img src="~/images/GAP.png" alt="logo"/>
</div>

<div class="row">
    
</div>
